.vsconfig
.vs/
Apk/
obj/
Logs/
UserSettings/
Assets/LuaPrecompile/
Assets/LuaPrecompile.meta
Assets/StreamingAssets/
Assets/StreamingAssets.meta
Assets/ResourcesEx/Develop/
Assets/ResourcesEx/Develop.meta
Assets/XLua/Gen/
Assets/XLua/Gen.meta
Bundle/
Library/
Temp/
StackTrace.log
*.csproj
XX006.Unity.csproj
XX006.Unity.Editor.csproj
XX006.Unity.Editor.Plugins.csproj
XX006.Unity.Plugins.csproj
XX006.Unity.sln
XX006.Unity.userprefs
Packages/packages-lock.json
